<!-- userProfileTemplate.html -->
<div class="user-profile-wrapper">
    <h1>My Profile</h1>
    <p>Here you can view and manage your details</p>
    <div class="user-details">
        <p>Username: <%= username %> 😊</p>
        <p>Email: <%= email %> 😊</p>
        <p>Reset Password:</p>
        <input type="password" id="resetPassword" placeholder="Enter new password">
    </div>
    <button id="logoutButton" class="btn btn-warning">Log out</button>
    <button id="deleteAccountButton" class="btn btn-danger">Delete Account</button>
    <p>(Deleting account action cannot be undone)</p>
    
    <div id="questionsAnswersContainer">
        <!-- User's questions and answers will be rendered here -->
    </div>
</div>
