<style>
    .user-profile-wrapper {
        width: 50%;
        margin: 0 auto; /* This will center the div horizontally */
        height: 77vh;
    }
    .user-profile-wrapper .delete-section {
       
        float: right;
    }

   .user-details p{
    margin-top: 45px
   }
   .profile-container{
    margin-top: 30px;
    background-color:cadetblue;
    padding: 50px;
    border-radius: 20px;
   }
</style>

<!-- userProfileTemplate.html -->
<div class="user-profile-wrapper">
    <!-- Bootstrap Modal for Error Messages -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="errorModalBody">
                    <!-- Error message will be rendered here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap Modal for Success Messages -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="successModalBody">
                    <!-- Success message will be rendered here -->
                </div>
               
            </div>
        </div>
    </div>
    <div class="profile-container">
    <h1>My Profile</h1>
    <p>Here you can view and manage your details</p>
    <div class="user-details">
        <p><strong>Username:</strong> <%= username %> </p>
        <p><strong>Email:</strong> <%= email %> </p>
        <form id="resetPasswordForm">
        <div class="form-group"> 
            <p><strong>Reset Password:</strong>
            <input type="password" id="resetPasswordinput" class="form-control" placeholder="Enter new password">
            <button id="resetPasswordButton" class="btn btn-primary mt-2">Reset</button></p>
        </div>
    </form>
    </div>
    <div class="delete-section">
        <button id="logoutButton" class="btn btn-warning">Log out</button>
        <button id="deleteAccountButton" class="btn btn-danger">Delete Account</button>
    </div>
    </div>
</div>
