body {
    font-family: "Poppins", sans-serif !important;
    font-weight:400 !important;
    background-color: antiquewhite !important;
}

.question{
    background-color:white;
    padding:20px;
    border-radius:20px;
    margin-top:20px;
    margin-left: 20px;
    margin-bottom: 2vw;
  
    border: 1px solid black
}
.question-header h1{
    font-family: "Poppins", sans-serif;
    font-weight:800;
}
.votes{
    margin-right: 20px;
    text-align: center;
}
.question-content{
    margin-right: 20px;
    
}
.question-meta{
    margin-top: 20px;

}

.tag-label{
    background-color: cornflowerblue;
    border-radius: 5px;
 
    padding: 5px;
}
.question-tags{
    margin-top: 10px;
}
.comment-card{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;

    background-color: lightslategray;

}
  
.register-auth-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: antiquewhite;
}
.register-auth-inner{
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    width: 35vw !important;
}
.email-success-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  
    background-color: antiquewhite;
}
.email-success-inner{
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    width: 25vw !important;
    text-align: center;
}
.email-success-icon{
    margin-left: 1vw;
}
.reset-password-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  
    background-color: antiquewhite;
}
.success-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  
    background-color: antiquewhite;
}
.success-inner{
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    width: 25vw !important;
    text-align: center;
}
#all-questions-btn.btn-link {
    text-decoration: none; /* Remove underline */

}
.answered-by{
    margin-top: 20px;

}


